annotated-types
aiosqlite
anyio
argon2-cffi
argon2-cffi-bindings
asyncpg
bcrypt
beautifulsoup4
certifi
cffi
charset-normalizer
click
cryptography
dnspython
email_validator
fastapi
fastapi-users
fastapi-users-db-sqlalchemy
frozendict
greenlet
h11
httptools
idna
Jinja2
makefun
MarkupSafe
multitasking
numpy
pandas
peewee
platformdirs
pwdlib
pycparser
pydantic
pydantic_core
PyJWT
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
requests
six
sniffio
soupsieve
SQLAlchemy
starlette
typing_extensions
tzdata
urllib3
uvicorn
uvloop
watchfiles
websockets
yfinance
plotly